<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>
  <arg name="start_manager" default="true"/>
  <arg name="start_server" default="false"/>
  <arg name="nodelet_manager" default="world_merger_nodelet_manager"/>
  <arg name="launch-prefix" default=""/>

  <arg name="default_input_worlds" default="env ar_objects simple_object"/>
  <arg name="output_world" default="merged"/>

  <node name="$(arg nodelet_manager)"
        pkg="nodelet" type="nodelet"
        args="manager"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)"
        if="$(arg start_manager)"/>

  <node name="uwds_server"
        pkg="nodelet" type="nodelet"
        args="load uwds/UwdsServerNodelet $(arg nodelet_manager)"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)"
        if="$(arg start_server)"/>

  <node name="world_merger"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/WorldMerger $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      default_input_worlds: $(arg default_input_worlds)
      ouput_world: $(arg output_world)
    </rosparam>
  </node>

</launch>
