<?xml version="1.0"?>
<launch>
  <arg name="output" default="screen"/>
  <arg name="respawn" default="false"/>
  <arg name="start_manager" default="false"/>
  <arg name="start_server" default="false"/>
  <arg name="nodelet_manager" default="uwds_nodelet_manager"/>
  <arg name="launch-prefix" default=""/>

  <arg name="name" default="world_merger"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="default_inputs" default="env ar_objects simple_object"/>
  <arg name="output_world" default="merged"/>

  <node name="$(arg nodelet_manager)"
        pkg="nodelet" type="nodelet"
        args="manager"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)"
        if="$(arg start_manager)"/>

  <node name="uwds_server"
        pkg="nodelet" type="nodelet"
        args="load uwds/UwdsServerNodelet $(arg nodelet_manager)"
        respawn="$(arg respawn)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)"
        if="$(arg start_server)"/>

  <node name="$(arg name)"
        pkg="nodelet" type="nodelet"
        args="load uwds_basic_clients/WorldMerger $(arg nodelet_manager)"
        output="$(arg output)"
        launch-prefix="$(arg launch-prefix)">
    <rosparam subst_value="true">
      global_frame_id: $(arg global_frame_id)
      default_inputs: $(arg default_inputs)
      output_world: $(arg output_world)
      verbose : false
    </rosparam>
  </node>

</launch>
